asttokens
backcall
contourpy
cycler 
decorator 
executing 
fonttools 
jedi 
joblib
kiwisolver
matplotlib
matplotlib-inline
numpy
packaging
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pure-eval
-e git+https://github.com/reineking/pyds.git@30d669c5826366031ae820623e18f0546a3fa3d6#egg=py_dempster_shafer
pydantic
Pygments
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
sklearn
stack-data
threadpoolctl
traitlets
typing-extensions
wcwidth
xgboost
